# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 99d502adc2bf6d12fad904c187eab4089e71f67867ec8f05a1388769ec72fedd5e12e161d73a7342985994369cc7bb8cd3591e31c3ddc3a2f8a64c59efaef03e

test:
  secret_key_base: 10e54b940784f7de460299795484cdbed2bc685178534e6ce730cd0e0a13f4947614c54c6cb9c2bb1aaedeb6be56abce2a7f33f5b5ceb643e44bda43cfa2db9d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
